p{
	padding: 0px 50px 0px 50px;
	margin-bottom: 0px; 
}

h1{
	padding-bottom: 50px; 
}

#justify{
	text-align: justify;
}

#section1, .service-wrapper{
	background: rgba(255, 165, 0, 65%);
	padding: 50px 0px 50px 0px;
}

.service-wrapper{
	padding: 50px 50px 50px 50px;
}

.footer{
	background-color: #343a40;
	color: grey;
	text-align: center;
}

.row{
	margin-right: 0px;
}

.background{
	background-image: url("./img/Road.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron{
	margin-bottom: 0px;
	padding-left: 150px;
}

.coolfooter{
	background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.9) 100%);
	height: 70px;
	margin-top: 50px; 
}

.rcoolfooter{
	background: linear-gradient(to top,transparent 0%,rgba(0,0,0,.9) 100%);
	height: 70px;
	margin-bottom: 50px; 
}

.footerConnect{
	background-color: #343a40;
	color: grey;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.divConnect{
	background: rgba(255, 165, 0, 65%);
	padding: 150px 0px 150px 0px;
	height: 100%;
}

.connect{
	margin: auto;
}

table.connect td:first-child{
	text-align: right; 
}

table.connect td:last-child{
	text-align: center;
}

#serviceActif td:last-child{
	text-align: right;
}
#serviceActif {
	border-collapse: collapse;
	width: 100%;
}
 
#serviceActif td, #serviceActif th {
	border: 1px solid #ddd;
	padding: 8px;
}
#serviceActif tr:nth-child(even){background-color: lightblue;}
 
#serviceActif tr:hover {background-color: #ddd;}
 
#serviceActif th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: blue;
	color: white;
}